{% extends 'base.html.twig' %}

{% block title %}ProductOrder index{% endblock %}

{% block body %}
    <h1>ProductOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_order in product_orders %}
            <tr>
                <td>{{ product_order.id }}</td>
                <td>{{ product_order.aantal }}</td>
                <td>
                    <a href="{{ path('product_order_show', {'id': product_order.id}) }}">show</a>
                    <a href="{{ path('product_order_edit', {'id': product_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_order_new') }}">Create new</a>
{% endblock %}
